body {
    background: linear-gradient(90deg, #ba9bff, #9bc8fe);/*угол / сторона или угол наклона с помощью ключевого слова (пары ключевых слов), первый цвет, второй цвет и т.д.*/
    font-family: 'Raleway', sans-serif;
    margin: 0;
}


#headline {
    background-color: #fff;
    padding: 10px;
}

h1 {
    background: linear-gradient(128deg, #ba9bff 34%, #9bc8fe 66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ba9bff;
    display: table;
    margin: 0 auto;
}

h2 {
    text-align: center;
    padding-bottom: 10px;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

h5 {
  padding-bottom: 20px;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
}

.task{
    background-color: #fff;
    margin: 35px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

form {
    display: flex;
    align-items: center;
    padding: 10px;
}

input, textarea {
    margin: 10px;
    resize: none;
}

.button {
    padding: 10px 20px;
    text-decoration: none;
    user-select: none;
    background-color: #9bc7fe;
    border: none;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    transition: 0.3s;
}

.button:hover {
    padding: 10px 20px;
    text-decoration: none;
    user-select: none;
    background-color: #b99bff;
    border: none;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    outline:none; /*убираем синюю обводку*/
}

.task-session {
  width: 100px;
  height: 40px;
  padding: 0;
  margin: 0;
  left: 200vh;
  position: sticky;
  top: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task-session h4, p{
  margin: 0;
}

/* The container */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 10px;
    font-size: 14px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #9bc7fe;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #9bc7fe;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-container input:checked ~ .checkmark {
    background-color: #b99bff;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {
    left: 7px;
    top: 4px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

